<div class="col-md-12">
    <div class="textColor" ng-repeat="flowerRow in socket.flowerBed">
        <div ng-repeat="flower in flowerRow | filter:{empty: false}">
            <div class="textSizeMedium">Name: {{flower.name}}, Family: {{flower.family}}</div>
            <div class="textSizeSmall">Planted: {{flower.planted}} Age:{{flower.age}} Max age: {{flower.maxAge}} Height: {{flower.height}} Max height: {{flower.maxHeight}}</div>
        </div>
    </div>
    <button ng-click="plantFlowerAnywhere()">plant anywhere</button>
    <button ng-click="weedFlowerAnywhere()">weed anywhere</button>
    <button ng-click="plantFlower()">plant on 1, 1</button>
    <button ng-click="weedFlower()">weed on 1, 1</button>
</div>